/*changed header color*/
h1 {
  color: black;
}
/*changed secondary header color*/
h2 {
  color: maroon;
}
/*paragragh colors and font size*/
p {
     font-size: small;
    color:rgb(173, 53, 9);
}
/*link color*/
l {
  color: black
}
/*table color*/
table{
  color: red
}
